<footer class="footer">
    <div class="footer__container">
        <div class="footer__name-section">Contacts</div>
        <div class="footer__content">
            <div class="footer__title">Drop us a line</div>
            <div class="footer__description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ullamcorper eu mauris vitae posuere.
            </div>
            <div class="footer__contacts">
                <div class="footer__locations">
                    <ul class="footer__location-item">
                        <li class="footer__row">Kyiv</li>
                        <li class="footer__row">
                            <a  class="footer__phone" href="tel:+12095550104">(209) 555-0104</a>
                        </li>
                        <li class="footer__row">6391 Elgin St. Celina,</li>
                        <li class="footer__row">Delaware 10299</li>
                    </ul>
                    <ul class="footer__location-item">
                        <li class="footer__row">Lviv</li>
                        <li class="footer__row">
                            <a  class="footer__phone" href="tel:+12095550104">(209) 555-0104</a>
                        </li>
                        <li class="footer__row">6391 Elgin St. Celina,</li>
                        <li class="footer__row">Delaware 10299</li>
                    </ul>
                    <ul class="footer__location-item">
                        <li class="footer__row">Kharkiv</li>
                        <li class="footer__row">
                            <a class="footer__phone" href="tel:+12095550104">(209) 555-0104</a>
                        </li>
                        <li class="footer__row">6391 Elgin St. Celina,</li>
                        <li class="footer__row">Delaware 10299</li>
                    </ul>
                </div>
                <div class="footer__strange-block">
                    <div class="footer__email">info@gmail.com</div>
                    <a  class="footer__country-link" href="#">Fb</a>
                    <a  class="footer__country-link" href="#">In</a>
                    <a  class="footer__country-link" href="#">Be</a>
                </div>
            </div>

            <button class="footer__button openPopup">Make request</button>
        </div>
    </div>
    <div class="footer__small-footer">
        @@include('../partials/global/small-footer.html')
    </div>

</footer>