<section class="text-section">

    <div class="text-section__container">

        <div class="text-section__content">

            <h3 class="text-section__title">
                Donec et ipsum nec quam posuere maximus eu in erat. Duis laoreet finibus consectetur.
            </h3>

            <p class="text-section__paragraph">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel gravida urna. Donec blandit sapien
                eu
                diam ullamcorper euismod. Nam tempus pellentesque ligula ut aliquam. Donec et ipsum nec quam posuere
                maximus eu in erat. Duis laoreet finibus consectetur. Nullam pulvinar ex sit amet leo gravida, sed
                mattis enim vehicula. Duis purus nisl, consectetur ut est non, placerat eleifend turpis. Duis auctor
                suscipit arcu. Aenean leo est, rutrum a eleifend eget, tempor nec urna. Proin finibus lobortis arcu
                dictum convallis. Ut fermentum eu magna vel laoreet. In lacus augue, malesuada id elit sit amet,
                varius
                imperdiet ex. Nullam blandit lobortis posuere:
            </p>

            <ul class="text-section__list">

                <li class="text-section__item"><span>1.</span> Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit.
                </li>

                <li class="text-section__item"><span>2.</span> Cras vel gravida urna. Donec blandit sapien eu diam
                    ullamcorper
                    euismod.
                </li>

                <li class="text-section__item"><span>3.</span> Nam tempus pellentesque ligula ut aliquam.</li>

                <li class="text-section__item"><span>4.</span> Donec et ipsum nec quam posuere maximus eu in erat.
                </li>

                <li class="text-section__item"><span>5.</span> Duis laoreet finibus consectetur.</li>

            </ul>

            <p class="text-section__paragraph">
                Aliquam iaculis ac urna at consequat. Pellentesque fermentum tellus eu nisi viverra gravida. Sed
                suscipit vestibulum accumsan. Sed ac magna id sem hendrerit convallis quis a magna. Mauris eget
                ornare
                est. Morbi metus justo, posuere vel semper semper, eleifend ut purus. Morbi cursus consequat nibh, a
                feugiat felis tempor vitae. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam
                sodales
                orci nisl, in lacinia risus rhoncus a. Praesent consectetur egestas risus, id consectetur felis.
            </p>

        </div>
    </div>
</section>