<section class="one-news-posters">
    <div class="one-news-posters__container">
        <div class=" full-poster  full-poster_alt">
            <picture>
                <source srcset="./assets/one-news-mobile-fullposter.png" media="(max-width: 600px)"
                        type="image/png">
                <img class="full-poster__item" src="./assets/poster-one-news-pc-full.png"
                     alt="photo apartment interior">
            </picture>

        </div>
        <div class="double-poster double-poster_alt">
            <div class="double-poster__poster-wrapper double-poster__poster-wrapper_long">
                <img class="double-poster__item" src="./assets/poster-one-news-pc-half.png"
                     alt="photo apartment interior">
            </div>
            <div class="double-poster__poster-wrapper double-poster__poster-wrapper_long">
                <img class="double-poster__item" src="./assets/poster-one-news-pc-half2.png"
                     alt="photo apartment interior">
            </div>


            </a>
        </div>
    </div>
</section>