<section class="small-slider-section">

    <div class="small-slider-section__container">

        <div class="small-slider-section__title">Our latest news</div>

        <div class="small-slider">

            <div class="swiper-wrapper small-slider__wrapper">

                <a class="swiper-slide small-slider__slide" href="#">

                    <img src="./assets/slide-small.png" alt="photo" class="small-slider__img">

                    <div class="small-slider__text">Antrax IT - Italian factory for the production of radiators
                    </div>

                    <div class="small-slider__date">01 January 2019</div>
                </a>

                <a class="swiper-slide small-slider__slide" href="#">

                    <img src="./assets/slide-small1.png" alt="photo" class="small-slider__img">

                    <div class="small-slider__text">Antrax IT - Italian factory for the production of radiators
                    </div>
                </a>

                <a class="swiper-slide small-slider__slide" href="#">

                    <img src="./assets/slide-small2.png" alt="photo" class="small-slider__img">

                    <div class="small-slider__text">Antrax IT - Italian factory for the production of radiators
                    </div>
                </a>

                <a class="swiper-slide small-slider__slide" href="#">

                    <img src="./assets/slide-small3.png" alt="photo" class="small-slider__img">

                    <div class="small-slider__text">Antrax IT - Italian factory for the production of radiators
                    </div>

                </a>
                <a class="swiper-slide small-slider__slide" href="#">

                    <img src="./assets/slide-small.png" alt="photo" class="small-slider__img">

                    <div class="small-slider__text">Antrax IT - Italian factory for the production of radiators
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>