<section class="text-section">
    <div class="text-section__container">
        <div class="text-section__content">
            <h3 class="text-section__title">
                Duis laoreet finibus consectetur.
            </h3>
            <p class="text-section__paragraph">
                Duis laoreet finibus consectetur. Nullam pulvinar ex sit amet leo gravida, sed mattis enim vehicula.
                Duis purus nisl, consectetur ut est non, placerat eleifend turpis. Duis auctor suscipit arcu. Aenean
                leo
                est, rutrum a eleifend eget, tempor nec urna. Proin finibus lobortis arcu dictum convallis. Ut
                fermentum
                eu magna vel laoreet. In lacus augue, malesuada id elit sit amet, varius imperdiet ex. Nullam
                blandit
                lobortis posuere:
            </p>
            <ul class="text-section__list">
                <li class="text-section__item"><span><svg width="6" height="6" viewBox="0 0 6 6" fill="none"
                                                          xmlns="http://www.w3.org/2000/svg">
  <circle cx="3" cy="3" r="2.5" stroke="#515151"/>
</svg></span> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </li>
                <li class="text-section__item"><span><svg width="6" height="6" viewBox="0 0 6 6" fill="none"
                                                          xmlns="http://www.w3.org/2000/svg">
  <circle cx="3" cy="3" r="2.5" stroke="#515151"/>
</svg></span> Cras vel gravida urna. Donec blandit sapien eu diam
                    ullamcorper
                    euismod.
                </li>
                <li class="text-section__item"><span><svg width="6" height="6" viewBox="0 0 6 6" fill="none"
                                                          xmlns="http://www.w3.org/2000/svg">
  <circle cx="3" cy="3" r="2.5" stroke="#515151"/>
</svg></span> Nam tempus pellentesque ligula ut aliquam.
                </li>
                <li class="text-section__item"><span><svg width="6" height="6" viewBox="0 0 6 6" fill="none"
                                                          xmlns="http://www.w3.org/2000/svg">
  <circle cx="3" cy="3" r="2.5" stroke="#515151"/>
</svg></span> Donec et ipsum nec quam posuere maximus eu in erat.
                </li>

            </ul>
            <p class="text-section__paragraph">
                Mauris eget ornare est. Morbi metus justo, posuere vel semper semper, eleifend ut purus. Morbi
                cursus
                consequat nibh, a feugiat felis tempor vitae. Interdum et malesuada fames ac ante ipsum primis in
                faucibus. Nam sodales orci nisl, in lacinia risus rhoncus a.
            </p>

        </div>
    </div>
</section>