@use "../global/mixins" as mix;

.field {
  position: relative;
  margin: 1rem 0;
  width: 100%;
  max-width: 312px;
  height: 23px;
  @include mix.respond-to('tablet') {
    max-width: 280px;
  }
  @include mix.respond-to('mobile') {
    margin: 1.1rem 0;
    max-width: 100%;
  }


  &__input {
    width: 100%;
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    border-bottom: 1px solid rgba(186, 186, 186, 0.59);
    outline: none;
    background: transparent;
  }

  &__input--full-width {
    max-width: 100%;
  }

  &__label {
    position: absolute;
    top: 1rem;
    left: 0;
    color: grey;
    transition: 0.3s ease;
    cursor: text;
    font-weight: 600;
    font-size: 0.69rem;
    letter-spacing: 0.06em;
  }

  &__input:not(:placeholder-shown) + &__label,
  &__input:focus + &__label {
    color: var(--black);
    font-size: 0.5rem;
    top: -0.3rem;
    left: -0rem;
    background: var(--white);
    padding: 0 0.2rem;

    z-index: 1;
  }

  &__error {

    font-size: 0.6rem;
    color: white;
    padding: 5px 10px;
    background: red;
    border-radius: 5px;
    position: relative;
    left: 0px;

    &:after {
      content: '';
      position: absolute;
      top: -6px;
      left: 10px;
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid red;

    }

    @include mix.respond-to(600) {
      font-size: 0.5rem;
    }
  }

  &__errors {
    z-index: 2;

    &_radiobuttons {
      position: absolute;
      bottom: -50px;
      left: 20px;
    }

    &_select {
      position: absolute;
      bottom: -15px;
      left: 0;
      @include mix.respond-to(600) {
        bottom: -20px;
      }
    }
  }

}