@use "../global/mixins" as mix;


.photos-collage {
  padding: 10.95rem 0 23rem 0;
  color: var(--white);

  @include mix.respond-to('tablet') {
    padding: 8.55rem 0 8.8rem 0;
  }

  @include mix.respond-to('mobile') {
    padding: 7.75rem 0 7.6rem 0;
  }

  @include mix.respond-to(600) {
    padding: 6.05rem 0 5.85rem 0;
  }

  &_white {
    padding-top: 10.5rem;
    color: var(--pri-color);

    .photos-collage__button {
      border: 1px solid rgba(0, 0, 0, 0.32);
      white-space: nowrap;
    }


    @include mix.respond-to('tablet') {
      padding: 7.25rem 0 7.9rem 0;
    }

    @include mix.respond-to('tablet') {
      padding: 5.85rem 0 6.5rem 0;
    }

    @include mix.respond-to('tablet') {
      padding: 5.25rem 0 5.4rem 0;
    }
  }

  &_dark-bg {
    background: var(--black);
  }

  &__container {
    position: relative;
    z-index: 2;
  }

  &__name-section {
    position: absolute;
    top: 46px;
    left: 40px;
    font-weight: 700;
    font-size: .5rem;
    line-height: 1.7066;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.13);
    transform: rotate(-90deg);

    @include mix.respond-to(600) {
      display: none;
    }

    &:before {
      content: '';
      position: absolute;
      top: 5px;
      left: -55px;
      width: 50px;
      height: 1px;
      background: rgba(255, 255, 255, 0.13);
      display: block;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 1.424;
    max-width: mix.rem(424);
    margin-left: mix.rem(133);
    margin-bottom: 1.63rem;
    position: relative;
    z-index: 2;
    pointer-events: none;

    @include mix.respond-to('tablet') {
      text-align: center;
      margin: 0 auto 1.63rem auto;
      font-size: 2rem;
      line-height: 1.424;
      max-width: 22.5rem;
    }

    @include mix.respond-to('600') {
      text-align: left;
      font-size: 1.62rem;
      line-height: 1.21154;
      max-width: 18.5rem;
      margin: 0 0 1.3rem 0;
    }
  }

  &__description {
    font-weight: 300;
    font-size: 0.88rem;
    line-height: 1.7066;
    max-width: mix.rem(339);
    width: 100%;
    position: absolute;
    z-index: 2;
    right: 196px;

    @include mix.respond-to('tablet') {
      position: static;
      margin: 0 auto;
      text-align: center;
      max-width: 28.2rem;
    }

    @include mix.respond-to(600) {
      text-align: left;
    }
  }

  &__text {
    margin-bottom: 2.66rem;
    position: relative;
    z-index: 2;
    pointer-events: none;

    @include mix.respond-to('tablet') {
      margin-bottom: 3.9rem;
    }

    @include mix.respond-to('mobile') {
      margin-bottom: 3.1rem;
    }

    @include mix.respond-to(600) {
      margin-bottom: 0.9rem;
    }
  }

  &__button {
    font-weight: 600;
    font-size: 0.69rem;
    letter-spacing: 0.06em;
    padding: 16px 49px;
    color: var(--pri-color);
    background: var(--white);
    max-width: 11.44rem;
    white-space: nowrap;
    transition: background 0.3s ease, transform 0.3s ease;

    @include mix.respond-to('tablet') {
      margin: 0 auto;
      padding: 14px 48px 13px 48px;
    }

    @include mix.respond-to(600) {
      margin: 0;
    }
  }

  &__button:hover {
    background: var(--bc-secodary);
  }

  &__button:active {
    transform: scale(0.95);
  }

  @media (hover: none) {
    &__button:hover {
      background: var(--white);

    }
  }

  &__background {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include mix.respond-to('tablet') {
      display: none;
    }
  }

  &__photo-item {
    position: absolute;
    transition: transform 0.3s ease;
    z-index: 1;

  }

  &__photo-item:nth-child(1) {
    top: 3.1rem;
    left: -23.15rem;
    transform: rotate(-5.99deg);

    &:hover {
      transform: rotate(0deg);
      z-index: 5;
    }
  }

  &__photo-item:nth-child(2) {
    top: 2rem;
    left: -19.95rem;
    transform: rotate(-0.33deg);

    &:hover {
      transform: rotate(0deg);
      z-index: 5;
    }
  }

  &__photo-item:nth-child(3) {
    top: 1.1rem;
    left: -16.65rem;
    transform: rotate(-5.81deg);

    &:hover {
      transform: rotate(0deg);
      z-index: 5;
    }
  }

  &__photo-item:nth-child(4) {
    top: -0.1rem;
    left: -13.25rem;
    transform: rotate(-1.72deg);

    &:hover {
      transform: rotate(0deg);
      z-index: 5;
    }
  }

  &__photo-item:nth-child(5) {
    top: -1.8rem;
    left: -9rem;
    transform: rotate(-10.5deg);

    &:hover {
      transform: rotate(0deg);
      z-index: 5;
    }
  }

  &__photo-item:nth-child(6) {
    top: -2.9rem;
    left: -6.65rem;
    transform: rotate(-6deg);

    &:hover {
      transform: rotate(0deg);
      z-index: 5;
    }
  }

  &__photo-item:nth-child(7) {
    top: -3.7rem;
    left: -3.45rem;
    transform: rotate(-0deg);

    &:hover {
      transform: rotate(0deg);
      z-index: 5;
    }
  }

  &__photo-item:nth-child(8) {
    top: -4.5rem;
    left: -0.05rem;
    transform: rotate(-5.81deg);

    &:hover {
      transform: rotate(0deg);
      z-index: 5;
    }
  }

  &__photo-item:nth-child(9) {
    top: -6rem;
    left: 3.25rem;
    transform: rotate(-1.72deg);

    &:hover {
      transform: rotate(0deg);
      z-index: 5;
    }
  }

  &__photo-item:nth-child(10) {
    top: -8rem;
    left: 7.35rem;
    transform: rotate(-10.5deg);

    &:hover {
      transform: rotate(0deg);
    }
  }
}