<section class="photos-collage photos-collage_white">
    <div class="photos-collage__container">
        <div class="photos-collage__content">
            <div class="photos-collage__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
            <div class="photos-collage__description">
                <div class="photos-collage__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Aliquam ullamcorper eu mauris vitae posuere. Ut at luctus ligula. Nunc ante felis, aliquam
                    eu enim sed, ornare pretium velit.
                </div>
                <button class="photos-collage__button openPopup">Make request</button>
            </div>
        </div>
        <div class="photos-collage__background">
            <img class="photos-collage__photo-item" src="./assets/collage5.png" width="211" height="273"

                 alt="photo interiera">
            <img class="photos-collage__photo-item" src="./assets/collage4.png" width="211" height="273"

                 alt="photo interiera">
            <img class="photos-collage__photo-item" src="./assets/collage3.png"
                 width="211" height="273"
                 alt="photo interiera">
            <img class="photos-collage__photo-item" src="./assets/collage2.png"
                 width="211" height="273"
                 alt="photo interiera">
            <img class="photos-collage__photo-item" src="./assets/collage6.png"
                 width="211" height="273"
                 alt="photo interiera">
            <img class="photos-collage__photo-item" src="./assets/collage5.png"
                 width="211" height="273"
                 alt="photo interiera">
            <img class="photos-collage__photo-item" src="./assets/collage4.png"
                 width="211" height="273"
                 alt="photo interiera">
            <img class="photos-collage__photo-item" src="./assets/collage3.png"
                 width="211" height="273"
                 alt="photo interiera">
            <img class="photos-collage__photo-item" src="./assets/collage2.png"
                 width="211" height="273"
                 alt="photo interiera">
            <img class="photos-collage__photo-item" src="./assets/collage1.png"
                 width="211" height="273"
                 alt="photo interiera">
        </div>
    </div>
</section>