<section class="project-first-screen">

    <div class="project-first-screen__container">

        <div class="projects">

            <div class="projects__filter-block">

                <div class="projects__title">Our Projects</div>

                <div class="projects__block">

                    <div class="projects__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                        ullamcorper eu mauris vitae posuere. Ut at luctus ligula. Nunc ante felis, aliquam eu enim
                        sed, ornare pretium velit.
                    </div>

                    <div class="projects__filter-buttons">

                        <button class="projects__filter-button  projects__filter-button-active"
                                data-filter="house">House
                        </button>

                        <button class="projects__filter-button " data-filter="apartments">Apartments</button>

                        <button class="projects__filter-button" data-filter="commerce">Commerce</button>

                        <button class="projects__filter-button " data-filter="architecture">
                            Architecture
                        </button>
                    </div>

                    <div class="projects__filter-buttons-mobile custom-dropdown ">

                        <button class="custom-dropdown__toggle">
                            Apartments
                            <span class="custom-dropdown__arrow">
                                 <svg width="9" height="6" viewBox="0 0 9 6" fill="none"
                                      xmlns="http://www.w3.org/2000/svg">
                                 <path d="M8 1L4.5 4.5L1 1" stroke="#080808" stroke-width="1.4"/>
                                  </svg>
                            </span>
                        </button>

                        <ul class="custom-dropdown__menu" role="menu" hidden>

                            <li class="custom-dropdown__item filter-button" data-filter="house" role="house">House
                            </li>

                            <li class="custom-dropdown__item filter-button" data-filter="Apartments"
                                role="Apartments">
                                Apartments
                            </li>

                            <li class="custom-dropdown__item filter-button" data-filter="commerce" role="Commerce">
                                Commerce
                            </li>

                            <li class="custom-dropdown__item filter-button" data-filter="architecture"
                                role="architecture">Architecture
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>