<section class="posters-section  posters-section_white-bg">

    <div class="posters-section__container">

        <div style="display: flex;" class="posters-section__posters-wrapper" data-topic="house">

            <div class="posters-section__item double-poster">

                <a  class="double-poster__poster-wrapper" href="#">

                    <img class="double-poster__item" src="./assets/posterhalf2-pc.png"
                         alt="photo apartment interior">

                    <div class="double-poster__description">Eyewear store interior</div>

                    <div class="double-poster__link">Discover more</div>

                    <ul class="double-poster__data">

                        <li class="double-poster__data-item">Lodz</li>

                        <li class="double-poster__data-item">16.10.2018</li>

                        <li class="double-poster__data-item">80 sq.m</li>
                    </ul>
                </a>

                <a  class="double-poster__poster-wrapper" href="#">

                    <img class="double-poster__item" src="./assets/posterhalf1-pc.png"
                         alt="photo apartment interior">

                    <div class="double-poster__description">Eyewear store interior</div>

                    <div class="double-poster__link">Discover more</div>

                    <ul class="double-poster__data">

                        <li class="double-poster__data-item">Lodz</li>

                        <li class="double-poster__data-item">16.10.2018</li>

                        <li class="double-poster__data-item">80 sq.m</li>
                    </ul>
                </a>
            </div>

            <a  class="posters-section__item full-poster " href="#">

                <picture>

                    <source media="(max-width: 768px)" srcset="./assets/posterfull21-mobile.png">

                    <img class="full-poster__item" src="./assets/posterfull1-pc.png" alt="photo apartment interior">

                </picture>

                <div class="full-poster__description">Residence by the <br> lighthouse</div>

                <div class="full-poster__link">Discover more</div>

                <ul class="full-poster__data">

                    <li class="double-poster__data-item">Lodz</li>

                    <li class="double-poster__data-item">16.10.2018</li>

                    <li class="double-poster__data-item">80 sq.m</li>
                </ul>
            </a>

            <div class="posters-section__item double-poster">

                <a  class="double-poster__poster-wrapper" href="#">

                    <img class="double-poster__item" src="./assets/posterhalf3-pc.png"
                         alt="photo apartment interior">

                    <div class="double-poster__description">Eyewear store interior</div>

                    <div class="double-poster__link">Discover more</div>

                    <ul class="double-poster__data">
                        <li class="double-poster__data-item">Lodz</li>
                        <li class="double-poster__data-item">16.10.2018</li>
                        <li class="double-poster__data-item">80 sq.m</li>
                    </ul>

                </a>

                <a  class="double-poster__poster-wrapper" href="#">

                    <img class="double-poster__item" src="./assets/poster-half-5.png"
                         alt="photo apartment interior">

                    <div class="double-poster__description">Eyewear store interior</div>

                    <div class="double-poster__link">Discover more</div>

                    <ul class="double-poster__data">

                        <li class="double-poster__data-item">Lodz</li>

                        <li class="double-poster__data-item">16.10.2018</li>

                        <li class="double-poster__data-item">80 sq.m</li>
                    </ul>
                </a>

            </div>

            <a  class="posters-section__item full-poster " href="#">

                <picture>

                    <source media="(max-width: 768px)" srcset="./assets/posterfull21-mobile.png">

                    <img class="full-poster__item" src="./assets/poster-full-5.png" alt="photo apartment interior">

                </picture>

                <div class="full-poster__description">Residence by the <br> lighthouse</div>

                <div class="full-poster__link">Discover more</div>

                <ul class="full-poster__data">

                    <li class="double-poster__data-item">Lodz</li>

                    <li class="double-poster__data-item">16.10.2018</li>

                    <li class="double-poster__data-item">80 sq.m</li>
                </ul>
            </a>
        </div>

        <div style="display: none;" class="posters-section__posters-wrapper" data-topic="apartments">

            <div class="posters-section__item full-poster ">

                <picture>

                    <source media="(max-width: 768px)" srcset="./assets/posterfull21-mobile.png">

                    <img class="full-poster__item" src="./assets/poster-full-5.png" alt="photo apartment interior">

                </picture>

                <div class="full-poster__description">Residence by the <br> lighthouse</div>

                <a  class="full-poster__link" href="#">Discover more</a>

            </div>

            <div class="posters-section__item double-poster">

                <div class="double-poster__poster-wrapper">

                    <img class="double-poster__item" src="./assets/posterhalf2-pc.png"
                         alt="photo apartment interior">

                    <div class="double-poster__description">Eyewear store interior</div>

                    <a  class="double-poster__link" href="#">Discover more</a>

                </div>

                <div class="double-poster__poster-wrapper">

                    <img class="double-poster__item" src="./assets/posterhalf1-pc.png"
                         alt="photo apartment interior">

                    <div class="double-poster__description">Eyewear store interior</div>

                    <a  class="double-poster__link" href="#">Discover more</a>

                </div>
            </div>

            <div class="posters-section__item full-poster ">

                <picture>
                    <source media="(max-width: 768px)" srcset="./assets/posterfull21-mobile.png">

                    <img class="full-poster__item" src="./assets/posterfull1-pc.png" alt="photo apartment interior">
                </picture>

                <div class="full-poster__description">Residence by the <br> lighthouse</div>

                <a  class="full-poster__link" href="#">Discover more</a>
            </div>

            <div class="posters-section__item double-poster">

                <div class="double-poster__poster-wrapper">

                    <img class="double-poster__item" src="./assets/posterhalf3-pc.png"
                         alt="photo apartment interior">

                    <div class="double-poster__description">Eyewear store interior</div>

                    <a  class="double-poster__link" href="#">Discover more</a>

                </div>

                <div class="double-poster__poster-wrapper">

                    <img class="double-poster__item" src="./assets/poster-half-5.png"
                         alt="photo apartment interior">

                    <div class="double-poster__description">Eyewear store interior</div>

                    <a  class="double-poster__link" href="#">Discover more</a>
                </div>
            </div>
        </div>

        <div style="display: none;" class="posters-section__posters-wrapper" data-topic="commerce">

            <div class="posters-section__item double-poster">

                <div class="double-poster__poster-wrapper">

                    <img class="double-poster__item" src="./assets/posterhalf2-pc.png"
                         alt="photo apartment interior">

                    <div class="double-poster__description">Eyewear store interior</div>

                    <a  class="double-poster__link" href="#">Discover more</a>
                </div>

                <div class="double-poster__poster-wrapper">

                    <img class="double-poster__item" src="./assets/posterhalf1-pc.png"
                         alt="photo apartment interior">

                    <div class="double-poster__description">Eyewear store interior</div>

                    <a  class="double-poster__link" href="#">Discover more</a>
                </div>
            </div>

            <div class="posters-section__item full-poster ">
                <picture>
                    <source media="(max-width: 768px)" srcset="./assets/posterfull21-mobile.png">
                    <img class="full-poster__item" src="./assets/posterfull1-pc.png" alt="photo apartment interior">
                </picture>

                <div class="full-poster__description">Residence by the <br> lighthouse</div>

                <a  class="full-poster__link" href="#">Discover more</a>

            </div>

            <div class="posters-section__item double-poster">

                <div class="double-poster__poster-wrapper">

                    <img class="double-poster__item" src="./assets/posterhalf3-pc.png"
                         alt="photo apartment interior">

                    <div class="double-poster__description">Eyewear store interior</div>

                    <a  class="double-poster__link" href="#">Discover more</a>
                </div>

                <div class="double-poster__poster-wrapper">

                    <img class="double-poster__item" src="./assets/poster-half-5.png"
                         alt="photo apartment interior">

                    <div class="double-poster__description">Eyewear store interior</div>

                    <a  class="double-poster__link" href="#">Discover more</a>
                </div>
            </div>

            <div class="posters-section__item full-poster ">

                <picture>
                    <source media="(max-width: 768px)" srcset="./assets/posterfull21-mobile.png">
                    <img class="full-poster__item" src="./assets/poster-full-5.png" alt="photo apartment interior">
                </picture>

                <div class="full-poster__description">Residence by the <br> lighthouse</div>

                <a  class="full-poster__link" href="#">Discover more</a>

            </div>
        </div>

        <div style="display: none;" class="posters-section__posters-wrapper" data-topic="architecture">

            <div class="posters-section__item full-poster ">

                <picture>
                    <source media="(max-width: 768px)" srcset="./assets/posterfull21-mobile.png">
                    <img class="full-poster__item" src="./assets/posterfull1-pc.png" alt="photo apartment interior">
                </picture>

                <div class="full-poster__description">Residence by the <br> lighthouse</div>

                <a  class="full-poster__link" href="#">Discover more</a>
            </div>

            <div class="posters-section__item double-poster">

                <div class="double-poster__poster-wrapper">

                    <img class="double-poster__item" src="./assets/posterhalf2-pc.png"
                         alt="photo apartment interior">

                    <div class="double-poster__description">Eyewear store interior</div>

                    <a  class="double-poster__link" href="#">Discover more</a>
                </div>

                <div class="double-poster__poster-wrapper">

                    <img class="double-poster__item" src="./assets/posterhalf1-pc.png"
                         alt="photo apartment interior">

                    <div class="double-poster__description">Eyewear store interior</div>

                    <a  class="double-poster__link" href="#">Discover more</a>
                </div>
            </div>

            <div class="posters-section__item full-poster ">

                <picture>
                    <source media="(max-width: 768px)" srcset="./assets/posterfull21-mobile.png">

                    <img class="full-poster__item" src="./assets/poster-full-5.png" alt="photo apartment interior">
                </picture>

                <div class="full-poster__description">Residence by the <br> lighthouse</div>

                <a  class="full-poster__link" href="#">Discover more</a>
            </div>

            <div class="posters-section__item double-poster">

                <div class="double-poster__poster-wrapper">

                    <img class="double-poster__item" src="./assets/posterhalf3-pc.png"
                         alt="photo apartment interior">

                    <div class="double-poster__description">Eyewear store interior</div>

                    <a  class="double-poster__link" href="#">Discover more</a>
                </div>

                <div class="double-poster__poster-wrapper">

                    <img class="double-poster__item" src="./assets/poster-half-5.png"
                         alt="photo apartment interior">

                    <div class="double-poster__description">Eyewear store interior</div>

                    <a  class="double-poster__link" href="#">Discover more</a>
                </div>
            </div>
        </div>
    </div>
</section>