<section class="circle-collage circle-collage_dark-bg">

    <div class="circle-collage__container">

        <div class="circle-collage__content">

            <div class="circle-collage__title">@lorem.ipsum</div>

            <div class="circle-collage__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aliquam ullamcorper eu mauris vitae posuere.
            </div>

        </div>

        <div class="circle-collage__background">

            <img class="circle-collage__photo-item" src="./assets/collage11.png">

            <img class="circle-collage__photo-item" src="./assets/collage22.png">

            <img class="circle-collage__photo-item" src="./assets/collage44.png">

            <img class="circle-collage__photo-item" src="./assets/collage33.png">

            <img class="circle-collage__photo-item" src="./assets/collage55.png">

            <img class="circle-collage__photo-item" src="./assets/collage66.png">

            <img class="circle-collage__photo-item" src="./assets/collage77.png">

            <img class="circle-collage__photo-item" src="./assets/collage88.png">

            <img class="circle-collage__photo-item" src="./assets/collage101.png">
        </div>
    </div>
</section>