<section class="about-slider-section">

    <div class="about-slider-section__container">

        <div class="about-slider">

            <div class="about-slider__wrapper swiper-wrapper">

                <div class="about-slider__slide swiper-slide">

                    <img src="./assets/about-slide1.png" alt=photo>

                </div>

                <div class="about-slider__slide swiper-slide">

                    <img src="./assets/about-slide.png" alt=photo>

                </div>

                <div class="about-slider__slide swiper-slide">

                    <img src="./assets/about-slide1.png" alt=photo>

                </div>


            </div>

        </div>
        <div class="about-slider-section__text">

            <div class="about-slider-section__title">Company Philosophy</div>

            <div class="about-slider-section__description">The basic philosophy of our studio is to create
                individual, aesthetically stunning solutions for our customers by lightning-fast development of
                projects employing unique styles and architecture.
            </div>

            <div class="about-slider__nav-block">

                <div class="about-slider__scrollbar-container">

                    <div class="about-slider__button-prev">

                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M5 9L1 5L5 1" stroke="white" stroke-width="0.75"/>
                        </svg>

                    </div>

                    <span class="about-slider__current-slide">1</span>

                    <div class="swiper-scrollbar about-slider__scrollbar">

                        <div class="about-slider__custom-scrollbar"></div>

                    </div>

                    <span class="about-slider__total-slides">2</span>

                    <div class="about-slider__button-next">

                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 1L5 5L1 9" stroke="white" stroke-width="0.75"/>
                        </svg>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>