<section class="about-team">

    <div class="about-team__container">

        <div class="about-team__content">

            <div class="about-team__top-text">

                <div class="about-team__title">Roman Viktorovich</div>

                <div class="about-team__position">Founder and CEO of Hilight
                </div>

                <div class="about-team__description">We can also help you create harmony out of seemingly completely
                    incompatible elements in the interior or the exterior design.
                </div>

            </div>

            <div class="about-team__top-image">

                <img src="./assets/ceo.png" alt="photo ceo">

            </div>

            <div class="about-team__bottom-image">

                <img src="./assets/team.png" alt="photo ceo">

            </div>
            <div class="about-team__bottom-text">

                <ul class="about-team__numbers">

                    <li class="about-team__item">
                        <span>5</span> companies
                        cooperate
                    </li>

                    <li class="about-team__item">
                        <span>4</span> year of
                        market entry
                    </li>

                    <li class="about-team__item">
                        <span>3</span> companies
                        cooperate
                    </li>

                </ul>

                <div class="about-team__text-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat nisl sit risus pharetra nisl
                    metus
                    aliquet. Nibh eu posuere sodales sem tellus. Vulputate est nisl convallis sed. Fames in
                    dignissim
                    erat fermentum sed sed. In massa, adipiscing aliquet mi semper facilisis ornare nisi. Non elit
                    amet
                    enim at cursus mauris senectus dolor ac. Egestas lectus in praesent mi arcu. Vitae nisl viverra
                    enim
                    nulla at. Fusce porta elementum quis.
                </div>

            </div>

        </div>

    </div>

</section>