<section class="achievements">

    <div class="achievements__container">

        <div class="achievements__img">

            <img src="./assets/achievements1.png" alt="achievements">

        </div>

        <div class="achievements__text">

            <ul class="achievements__list-achievements">

                <li class="achievements__item"><span>6</span> years
                    expertise
                </li>

                <li class="achievements__item"><span>100+</span> completed
                    projects
                </li>

                <li class="achievements__item"><span>25+</span> companies
                    cooperate
                </li>

                <li class="achievements__item"><span>2014</span> year of
                    market entry
                </li>

            </ul>

            <div class="achievements__description">
                The basic philosophy of our studio is to create individual, aesthetically stunning solutions for our
                customers by lightning-fast development of projects employing unique styles and architecture.
            </div>

        </div>

    </div>

    <div class="achievements__img-small">

        <img src="./assets/about323.png" alt="photo">

    </div>

</section>