
<header class="header @@className">
    <div class="menu-burger menu-burger_hidden">
        <ul class="menu-burger__list">
            <li class="menu-burger__item"><a href="/loco">Home</a></li>
            <li class="menu-burger__item"><a href="/loco/projects">Projects</a></li>
            <li class="menu-burger__item"><a href="/loco/about">About us</a></li>
            <li class="menu-burger__item"><a href="/loco/news">Blog</a></li>
            <li class="menu-burger__item"><a href="/loco/contacts">Contacts</a></li>
            <li  class="menu-burger__item_button popup-button openPopup">Send Request</li>

        </ul>
    </div>
    <div class="header__container">
        <button type="button" class="icon-menu " aria-label="Открыть меню"><span></span></button>
        <div class="header__menu menu">

            <div class="menu__logo"><a  class="logo-main-link" href="/loco">Logo</a></div>
            <nav class="menu__body">
                <ul class="menu__list  menu__list_pc-menu">
                    <li class="menu__item"><a  class="menu__link" href="/loco/projects.html">Projects</a></li>
                    <li class="menu__item"><a  class="menu__link" href="/loco/about.html">About us</a></li>
                    <li class="menu__item"><a  class="menu__link" href="/loco/news.html">Blog</a></li>
                    <li class="menu__item"><a  class="menu__link" href="/loco/contacts.html">Contacts</a></li>
                </ul>
                <ul class="menu__list">
                    <li class="menu__item"><a  class="menu__link " href="#"> En</a></li>
                    <li class="menu__item">
                        <button  class="popup-button openPopup @@buttonColor">Send Request</button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>