<div class="small-footer">
    <div class="small-footer__container">
        <div class="small-footer__content">
            <div class="small-footer__copyright">© Copyright 2018. All rights reserved</div>
            <div class="small-footer__logo-block">
                <div class="small-footer__slogan">
                    Made with love in
                </div>
                <div class="small-footer__logo"><span>The First</span>The Last </div>
            </div>
        </div>
    </div>
</div>