@use "mixins" as mix;

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  overflow: hidden;
  background:var(--pri-color);

  &__content {
    display: flex;
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: 0.26em;
    color: var(--text-color);
    margin: 0 auto;
    width: 137px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

  }

  &__number {
    display: block;
  }
}