<section class="next-project">
    <div class="next-project__container">
        <div class="next-project__sub-title">
            Next project
        </div>
        <div class="next-project__title">
            Perfect proportions
        </div>
        <div class=" full-poster  full-poster_alt">
            <picture>
                <source srcset="./assets/one-news-mobile-fullposter.png" media="(max-width: 600px)"
                        type="image/png">
                <img class="full-poster__item" src="./assets/poster-one-news-pc-full.png"
                     alt="photo apartment interior">
            </picture>

        </div>
    </div>
</section>