<section class="one-project-posters">
    <div class="one-project-posters__container">
        <div class=" full-poster  full-poster_alt">
            <picture>

                <img class="full-poster__item" src="./assets/poster-one-news-pc-full.png"
                     alt="photo apartment interior">
            </picture>

        </div>
        <div class="double-poster double-poster_alt">
            <div class="double-poster__poster-wrapper">
                <img class="double-poster__item" src="./assets/poster-one-news-pc-half.png"
                     alt="photo apartment interior">
            </div>
            <div class="double-poster__poster-wrapper">
                <img class="double-poster__item" src="./assets/poster-one-news-pc-half2.png"
                     alt="photo apartment interior">
            </div>


            </a>
        </div>
        <div class=" full-poster  full-poster_alt">
            <picture>
                <img class="full-poster__item" src="./assets/poster-one-news-pc-full.png"
                     alt="photo apartment interior">
            </picture>

        </div>

        <button class="one-project-posters__btn">View more photo</button>
    </div>
</section>