<section class="text-section text-section_small-pt">
    <div class="text-section__container">
        <div class="text-section__content">
            <h3 class="text-section__title text-section__title_alt-mb">
                Donec et ipsum nec quam posuere maximus eu in erat. Duis laoreet finibus consectetur.
            </h3>
            <p class="text-section__paragraph text-section__paragraph_alt-width">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel gravida urna. Donec blandit sapien
                eu
                diam ullamcorper euismod. Nam tempus pellentesque ligula ut aliquam. Donec et ipsum nec quam posuere
                maximus eu in erat. Duis laoreet finibus consectetur. Nullam pulvinar ex sit amet leo gravida, sed
                mattis enim vehicula. Duis purus nisl, consectetur ut est non, placerat eleifend turpis. Duis auctor
                suscipit arcu. Aenean leo est, rutrum a eleifend eget, tempor nec urna. Proin finibus lobortis arcu
                dictum convallis. Ut fermentum eu magna vel laoreet. In lacus augue, malesuada id elit sit amet,
                varius
                imperdiet ex. Nullam blandit lobortis posuere:
            </p>
            <a  class="text-section__link " href="#">Discover more</a>
        </div>

    </div>
</section>