@use "./_mixins.scss" as mix;

.main-screen-about {
  margin-top: mix.rem(95);
  height: calc(100vh - 95px);
  width: 100vw;
  background: url("../assets/main-about.webp") 50%/cover no-repeat;
  color: var(--white);
  @include mix.respond-to('mobile') {
    margin-top: mix.rem(65);
    height: calc(100vh - 65px);
  }


  &__container {
    transform: translateY(-50%);
    position: relative;
    top: 51%;
  }

  &__title {
    font-weight: 700;
    font-size: 2.25rem;
    text-align: center;
    margin-bottom: 0.9rem;
    line-height: 1.2;
  }

  &__text {
    font-weight: 300;
    font-size: 0.88rem;
    line-height: 1.7066;
    margin: 0 auto;
    text-align: center;
    max-width: mix.rem(383);
  }
}

.about-slider-section {
  padding: mix.rem(140) 0 17.58rem 0;

  @include mix.respond-to('tablet') {
    padding: mix.rem(140) 0 4.7rem 0;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    @include mix.respond-to(1313) {
      flex-direction: column;
    }

  }

  &__text {
    max-width: mix.rem(383);
    width: 100%;
    margin-left: mix.rem(200);
    padding-top: 6.1rem;
    @include mix.respond-to('tablet') {
      margin: 0 auto;
      max-width: 32rem;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 2.25rem;
    color: var(--pri-color);
    margin-bottom: 0.4rem;
    line-height: 1.3;
  }

  &__description {
    ont-weight: 300;
    font-size: 0.88rem;
    line-height: 1.7066;
    color: var(--pri-color);
  }
}

.about-slider {
  overflow: hidden;
  position: absolute;
  right: 0;
  max-width: mix.rem(662);
  @include mix.respond-to(1313) {
    position: static;
    max-width: 100%;
  }

  &__wrapper {
    position: absolute;
    max-height: mix.rem(444);
  }

  &__nav-block {
    color: var(--sec-color);
    font-weight: 400;
    font-size: 0.75rem;
    letter-spacing: 0.06em;
    position: relative;
    top: mix.rem(44);
    left: mix.rem(8);
    width: mix.rem(316);
    display: flex;
    opacity: 0.5;
    height: mix.rem(10);
  }

  &__scrollbar {
    height: 3px; /* Высота полосы */
    border-radius: 5px;
    overflow: hidden;
    z-index: 11;
    width: mix.rem(227);
    background-color: rgba(163, 163, 163, 0.42);
    margin: 0 mix.rem(10);
  }

  &__custom-scrollbar {
    position: relative;
    z-index: 10;
    height: 100%;
    width: 0;
    background-color: var(--bc-primery);
    border-radius: mix.rem(5);
    transition: width 0.3s ease;
  }

  &__scrollbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 10;
  }

  &__slide {
    max-width: mix.rem(552);
    width: 100%;
    height: mix.rem(447) !important;
    overflow: hidden;
    @include mix.respond-to('mobile') {
      max-width: 75vw;

    }
    @include mix.respond-to(500) {
      max-width: 65vw;
      height: mix.rem(347) !important;
    }

    img {
      width: 100%;
      height: 100% !important;
      object-fit: cover;

    }
  }
}

.achievements {
  position: relative;

  &__container {
    display: flex;
    column-gap: mix.rem(132);
    @include mix.respond-to('tablet') {
      flex-direction: column;
    }
  }

  &__img {
    margin-left: mix.rem(66);
    flex: 1 0 mix.rem(400);
    max-width: mix.rem(516);

    img {
      width: 100%;
      object-fit: cover;
    }

    @include mix.respond-to('tablet') {
      max-width: mix.rem(400);
      margin: 0 auto;
    }
  }

  &__text {
    padding-top: mix.rem(90);
    min-width: mix.rem(300);
    @include mix.respond-to('tablet') {

      margin: 0 auto;
    }
  }

  &__list-achievements {
    display: flex;
    flex-wrap: wrap;
    gap: 2.6rem 5.5rem;
    max-width: 25rem;
    margin-bottom: 4.6rem;
    @include mix.respond-to('tablet') {
      max-width: 40rem;
      gap: 2.6rem 4.5rem;
    }
    @include mix.respond-to('mobile') {
      max-width: 40rem;
      gap: 2.6rem 2.5rem;
    }
  }

  &__item {
    width: mix.rem(91);
    font-weight: 300;
    font-size: 0.88rem;
    line-height: 1.32;
    color: var(--pri-color);

    span {
      display: block;
      font-weight: 700;
      font-size: 3.5rem;
      color: var(--pri-color);
      @include mix.respond-to('tablet') {
        font-size: 2.5rem;
      }
      @include mix.respond-to('mobile') {
        font-size: 2rem;
      }
    }
  }

  &__description {
    max-width: mix.rem(382);
    font-weight: 300;
    font-size: 0.88rem;
    line-height: 1.7066;
    color: var(--pri-color);
    @include mix.respond-to('tablet') {
      margin: 0 auto;
      max-width: 40rem;
    }
  }

  &__img-small {
    position: absolute;
    right: 0;
    bottom: mix.rem(-41);
    @include mix.respond-to(1320) {
      display: none;
    }
  }
}


.about-team {
  padding-top: mix.rem(180);
  padding-bottom: 9.1rem;
  color: var(--pri-color);
  @include mix.respond-to('mobile') {
    padding: 7rem 0;
  }
  @include mix.respond-to(600) {
    padding: 3rem 0;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto mix.rem(76) auto;
    column-gap: 7.35rem;
    @include mix.respond-to('tablet') {
      grid-template-columns: 100%;
      grid-template-rows: auto;
      column-gap: 0;
      row-gap: 3rem;

    }
  }


  &__top-image {
    padding-right: 3rem;
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 3;

    img {
      width: 93%;
    }

    @include mix.respond-to('tablet') {
      grid-column: 1;
      grid-row: auto;
      padding-right: 0;
      margin: 0 auto;
      img {
        width: 100%;
        max-width: mix.rem(500);
      }
    }

    @include mix.respond-to(600) {
      img {
        width: mix.rem(300);
      }
    }
    @include mix.respond-to(374) {
      img {
        width: mix.rem(250);
      }
    }

  }

  &__top-text {
    padding-left: mix.rem(200);
    padding-top: 4.3rem;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

    @include mix.respond-to('tablet') {
      grid-column: 1;
      grid-row: auto;
      padding-left: 0;
      padding-top: 2rem;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 2.25rem;
    margin-bottom: 1.6rem;
  }

  &__position {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.36528;
    max-width: mix.rem(167);
    margin-bottom: 3.11rem;
  }

  &__description {
    position: relative;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.7;
    opacity: 0.7;

    &:before {
      content: '“';
      display: block;
      position: absolute;
      top: -7px;
      left: -3.1rem;
      font-weight: 700;
      font-size: 2.25rem;
      color: var(--pri-color);
      @include mix.respond-to(900) {
        left: -1.9rem;
      }
      @include mix.respond-to(600) {
        display: none;
      }
    }
  }


  &__bottom-image {
    padding-left: mix.rem(134);
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 2;
    grid-row-end: 5;
    @include mix.respond-to('tablet') {
      grid-column: 1;
      grid-row: auto;
      padding-left: 0;

    }
    @include mix.respond-to('mobile') {
      margin: 0 auto;
    }
    @include mix.respond-to(374) {
      img {
        width: mix.rem(250);
      }
    }

  }

  &__bottom-text {
    padding-top: 6.25rem;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;

    @include mix.respond-to('tablet') {
      grid-column: 1;
      grid-row: auto;
      padding-top: 2rem;
    }
  }

  &__numbers {
    display: flex;
    column-gap: 3.5rem;
    margin-bottom: 3.2rem;
    @include mix.respond-to('mobile') {
      flex-wrap: wrap;
    }

  }

  &__item {
    width: mix.rem(107);
    font-weight: 300;
    font-size: 0.88rem;
    line-height: 1.32;

    span {
      display: block;
      font-weight: 700;
      font-size: 3.5rem;
      margin-bottom: 5px;
      @include mix.respond-to('tablet') {
        font-size: 3rem;
      }
      @include mix.respond-to('mobile') {
        font-size: 2.5rem;
      }
    }
  }

  &__text-description {
    font-weight: 300;
    font-size: 0.88rem;
    line-height: 1.7;
    max-width: mix.rem(516);
  }
}