@use "./_mixins.scss" as mix;

.main-screen-about {
  margin-top: 95px;
  height: calc(100vh);
  width: 100vw;
  background: url("../assets/main-about.webp") 50%/cover no-repeat;
  color: var(--white);
  @include mix.respond-to('mobile') {
    margin-top: 65px;
  }


  &__container {
    transform: translateY(-50%);
    position: relative;
    top: 51%;
  }

  &__title {
    font-weight: 700;
    font-size: 2.25rem;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  &__text {
    font-weight: 300;
    font-size: 0.88rem;
    line-height: 1.7066;
    margin: 0 auto;
    text-align: center;
    max-width: mix.rem(383);
  }
}

.about-slider-section {
  padding: mix.rem(140) 0 mix.rem(291) 0;

  @include mix.respond-to('tablet') {
    padding: mix.rem(140) 0 4.7rem 0;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    @include mix.respond-to(1313) {
      flex-direction: column;
    }

  }

  &__text {
    max-width: mix.rem(383);
    width: 100%;
    margin-left: 200px;
    padding-top: 6.1rem;
    @include mix.respond-to('tablet') {
      margin: 0 auto;
      max-width: 32rem;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 2.25rem;
    color: #080808;
    margin-bottom: 0.4rem;
    line-height: 1.3;
  }

  &__description {
    ont-weight: 300;
    font-size: 0.88rem;
    line-height: 1.7066;
    color: #080808;
  }
}

.about-slider {
  overflow: hidden;
  position: absolute;
  right: 0;
  max-width: mix.rem(662);
  @include mix.respond-to(1313) {
    position: static;
    max-width: 100%;
  }

  &__wrapper {
    position: absolute;
    max-height: 444px;
  }

  &__slide {
    max-width: 552px;
    width: 100%;
    height: 447px !important;
    overflow: hidden;
    @include mix.respond-to('mobile') {
      max-width: 75vw;

    }
    @include mix.respond-to(500) {
      max-width: 65vw;
      height: 347px !important;
    }

    img {
      width: 100%;
      height: 100% !important;
      object-fit: cover;

    }
  }
}

.achievements {
  position: relative;

  &__container {
    display: flex;
    column-gap: mix.rem(132);
    @include mix.respond-to('tablet') {
      flex-direction: column;
    }
  }

  &__img {
    margin-left: 66px;
    flex: 1 0 400px;
    max-width: 516px;

    img {
      width: 100%;
      object-fit: cover;
    }

    @include mix.respond-to('tablet') {
      max-width: 400px;
      margin: 0 auto;
    }
  }

  &__text {
    padding-top: mix.rem(90);
    min-width: 300px;
    @include mix.respond-to('tablet') {

      margin: 0 auto;
    }
  }

  &__list-achievements {
    display: flex;
    flex-wrap: wrap;
    gap: 2.6rem 5.5rem;
    max-width: 25rem;
    margin-bottom: 4.6rem;
    @include mix.respond-to('tablet') {
      max-width: 40rem;
      gap: 2.6rem 4.5rem;
    }
    @include mix.respond-to('mobile') {
      max-width: 40rem;
      gap: 2.6rem 2.5rem;
    }
  }

  &__item {
    width: 91px;
    font-weight: 300;
    font-size: 0.88rem;
    line-height: 1.32;
    color: #080808;

    span {
      display: block;
      font-weight: 700;
      font-size: 3.5rem;
      color: #080808;
      @include mix.respond-to('tablet') {
        font-size: 2.5rem;
      }
      @include mix.respond-to('mobile') {
        font-size: 2rem;
      }
    }
  }

  &__description {
    max-width: mix.rem(382);
    font-weight: 300;
    font-size: 0.88rem;
    line-height: 1.7066;
    color: #080808;
    @include mix.respond-to('tablet') {
      margin: 0 auto;
      max-width: 40rem;
    }
  }

  &__img-small {
    position: absolute;
    right: 0;
    bottom: -41px;
    @include mix.respond-to(1320) {
      display: none;
    }
  }
}


.about-team {
  padding-top: mix.rem(180);
  padding-bottom: 9.1rem;
  color: #080808;

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 76px auto;
    column-gap: 7.35rem;
    @include mix.respond-to('tablet') {
      grid-template-columns: 100%;
      grid-template-rows: auto;
      column-gap: 0;
      row-gap: 3rem;

    }
  }


  &__top-image {
    padding-right: 3rem;
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 3;

    img {
      width: 93%;

    }

    @include mix.respond-to('tablet') {
      grid-column: 1;
      grid-row: auto;
      padding-right: 0;
      img {
        width: 100%;
        max-width: 500px;
      }
    }

    @include mix.respond-to(600) {
      img {
        width: 300px;
      }
    }
    @include mix.respond-to(374) {
      img {
        width: 250px;
      }
    }

  }

  &__top-text {
    padding-left: mix.rem(200);
    padding-top: 4.3rem;
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end: 2;

    @include mix.respond-to('tablet') {
      grid-column: 1;
      grid-row: auto;
      padding-left: 0;
      padding-top: 2rem;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 2.25rem;
    margin-bottom: 1.6rem;
  }

  &__position {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.36528;
    max-width: mix.rem(167);
    margin-bottom: 3.11rem;
  }

  &__description {
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.7;
    opacity: 0.7;

  }

  &__bottom-image {
    padding-left: mix.rem(134);
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 2;
    grid-row-end: 5;
    @include mix.respond-to('tablet') {
      grid-column: 1;
      grid-row: auto;
      padding-left: 0;

    }
    @include mix.respond-to(374) {
      img {
        width: 250px;
      }
    }

  }

  &__bottom-text {
    padding-top: 5.75rem;
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 3;
    grid-row-end: 4;

    @include mix.respond-to('tablet') {
      grid-column: 1;
      grid-row: auto;
      padding-top: 2rem;
    }
  }

  &__numbers {
    display: flex;
    column-gap: 3.8rem;
    margin-bottom: 3rem;
    @include mix.respond-to('mobile') {
      flex-wrap: wrap;
    }

  }

  &__item {
    width: 100px;
    font-weight: 300;
    font-size: 0.88rem;
    line-height: 1.32;

    span {
      display: block;
      font-weight: 700;
      font-size: 4rem;
      @include mix.respond-to('tablet') {
        font-size: 3rem;
      }
      @include mix.respond-to('mobile') {
        font-size: 2.5rem;
      }
    }
  }

  &__text-description {
    font-weight: 300;
    font-size: 0.88rem;
    line-height: 1.7;
    max-width: mix.rem(516);
  }
}