@use "_mixins.scss" as mix;

.project-first-screen {
  padding-top: mix.rem(112);
  padding-bottom: mix.rem(5);
  @include mix.respond-to('tablet') {
    padding-top: 4.2rem;
  }
  @include mix.respond-to('mobile') {
    padding-top: 2.9rem;
  }
  @include mix.respond-to(600) {
    padding-top: 3.5rem;
  }
}

.projects {
  &__block {
    max-width: 584px;
    width: 100%;
  }

  &__text {
    max-width: mix.rem(450);
    font-weight: 300;
    font-size: 0.88rem;
    line-height: 1.7066;
    color: #080808;
    margin-bottom: 2rem;
    @include mix.respond-to('tablet') {
      margin-left: 6.4rem;
      font-size: 0.88rem;
      line-height: 1.7066;
      margin-bottom: 2.1rem;
    }
    @include mix.respond-to(600) {
      margin-left: 0;
      margin-bottom: 0.2rem;
    }
  }

  &__filter-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: mix.rem(124);
    @include mix.respond-to('tablet') {
      flex-direction: column;
      margin-bottom: 6.6rem;
    }
    @include mix.respond-to('mobile') {

      margin-bottom: 6.5rem;
    }
    @include mix.respond-to(600) {
      margin-bottom: 3.9rem;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 1.3;
    color: #080808;
    margin-left: mix.rem(133);
    white-space: nowrap;
    @include mix.respond-to('tablet') {
      margin-left: 6.3rem;
      margin-bottom: 0.6rem;
    }
    @include mix.respond-to('mobile') {
      font-size: 2rem;
      margin-left: 5.2rem;

    }
    @include mix.respond-to(600) {
      font-size: 1.62rem;
      margin-left: 0;
    }
  }

  &__filter-buttons {
    display: flex;
    column-gap: 2rem;
    margin-right: 7.17rem;
    font-size: 0.9rem;
    position: relative;
    top: 4px;
    @include mix.respond-to('tablet') {
      column-gap: 1.7rem;
      margin-left: 6.5rem;
      font-weight: 500;
      font-size: 0.69rem;

    }
    @include mix.respond-to('mobile') {
      margin-left: 5rem;
      column-gap: 1.8rem;
    }

    @include mix.respond-to(650) {
      display: none;
    }
  }


  &__filter-button {
    color: var(--sec-color);
    white-space: nowrap;
    font-weight: 600;
    font-size: 0.69rem;
    letter-spacing: 0.06em;
  }

  &__filter-button-active {
    color: var(--pri-color);
    position: relative;
  }

  &__filter-button-active:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -3px;
    width: 100%;
    height: 1px;
    background-color: var(--pri-color);
    @include mix.respond-to('tablet') {
      bottom: -4px;
    }
    @include mix.respond-to(650) {
      bottom: 5px;
      width: 95%;
    }
  }
}