/* Базовые стили */
.select {
  position: relative;
  width: 117px;
  height: 24px;
  pointer-events: auto;

}

.select__toggle {
  width: 100%;
  backdrop-filter: blur(2px);
  box-shadow: inset 0 -0px 0px 0 rgba(255, 255, 255, 0.23), 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #ccc;
  padding: 5px 51px 5px 28px;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
  border-radius: 40px;
  transition: background 0.2s ease;
}
.select__toggle:hover{
background: rgba(255, 255, 255, 0.1);
}
.select__toggle::after {
  content: url('/assets/row-icon.svg');
  position: absolute;
  right: 9.5px;
  top: 5px;

}

.select__toggle:before {
  content: url('/assets/location-icon.svg');
  position: absolute;
  left: 12px;
  top: 5px;
}

.select__menu {
  position: absolute;
  top: -96px;
  left: 0;
  width: 100%;
  height: 0px;
  opacity: 0;
  transition: height 1s ease, opacity 0.3s ease;
  background-color: rgba(181, 181, 181, 0.71);
  border: 1px solid #606060;
  border-radius: 4px;
  z-index: 10;
}

.select__item {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.select__item:hover {
  background-color: rgba(110, 109, 109, 0.8);
}

/* Активное меню */
.select--active .select__menu {
  height: auto;
  opacity: 1;
}
