@use "_header.scss";
@use "home.scss";
@use "_reset.scss";
@use "_select.scss";
@use "_double-poster.scss";
@use "_full-poster.scss";
@use "_photos-collage.scss";
@use "_circle-collage.scss";
@use "_small-footer.scss";
@use "_popup.scss";
@use "_custom-input.scss";
@use "_news.scss";
@use "_news-slider.scss";
@use "_one-news.scss";
@use "_projects.scss";
@use "_posters.scss";
@use "_one-project.scss";
@use "_text-section.scss";
@use "_about.scss";
@use "_contacts.scss";
@use "_not-found.scss";
@use "_preloader.scss";



body{
  color: var(--pri-color);
  font-family: var(--font-family);
  overflow-x: hidden;
}
.page-wrapper{
  overflow: visible;
}
