<section class="circle-collage">

    <div class="circle-collage__container">

        <div class="circle-collage__content">

            <div class="circle-collage__title">@lorem.ipsum</div>

            <div class="circle-collage__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aliquam ullamcorper eu mauris vitae posuere.
            </div>

        </div>

        <div class="circle-collage__background">

            <img class="circle-collage__photo-item" src="./assets/collage11.png" alt="picture interirt" width="399"
                 height="306">

            <img class="circle-collage__photo-item" src="./assets/collage22.png" alt="picture interirt">

            <img class="circle-collage__photo-item" src="./assets/collage44.png" alt="picture interirt">

            <img class="circle-collage__photo-item" src="./assets/collage33.png" alt="picture interirt">

            <img class="circle-collage__photo-item" src="./assets/collage55.png" alt="picture interirt">

            <img class="circle-collage__photo-item" src="./assets/collage66.png" alt="picture interirt">

            <img class="circle-collage__photo-item" src="./assets/collage77.png" alt="picture interirt">

            <img class="circle-collage__photo-item" src="./assets/collage88.png" alt="picture interirt">

            <img class="circle-collage__photo-item" src="./assets/collage101.png" alt="picture interirt">

        </div>

    </div>

</section>