<section class="company-philosophy">

    <div class="company-philosophy__big-img">

        <picture>

            <source media="(max-width: 1024px)" srcset="./assets/Rectangle2.4.png">

            <img src="./assets/Rectangle2.4(3).png" alt="photo interiera">

        </picture>

    </div>

    <div class="company-philosophy__container">

        <div class="company-philosophy__top-block">

            <div class="company-philosophy__name-section">About</div>

            <div class="company-philosophy__complex-text-unit ">

                <div class="company-philosophy__title">Company Philosophy</div>

                <div class="company-philosophy__description">The basic philosophy of our studio is to create
                    individual, aesthetically stunning solutions for our customers by lightning-fast development of
                    projects employing unique styles and architecture. Even if you don't have a ready sketch of what
                    you want - we will help you get the result.
                </div>

                <div class="company-philosophy__description">We can also help you create harmony out of seemingly
                    completely incompatible elements in the interior or the exterior design. Do you want to combine
                    classics and abstract art? Modern and retro? Love everything associated with the 1940's? No
                    problem!
                </div>

                <div class="company-philosophy__link">

                    <a href="./about.html">Discover more</a>

                </div>

            </div>

        </div>
        <div class="company-philosophy__bottom-block">

            <div class="company-philosophy__double-img">

                <picture>

                    <source srcset="./assets/rech-mobilesmall.png" media="(max-width: 700px)">

                    <source srcset="./assets/rech-mobile.png" media="(max-width: 768px)">

                    <source srcset="./assets/Rectang1.png" media="(max-width: 1024px)">

                    <img class="company-philosophy__auxiliary-img" src="./assets/rech-large.png"
                         alt="photo interiera">

                </picture>

                <picture>

                    <source srcset="./assets/Rectangle-mobile.png" media="(max-width: 1024px)">

                    <img class="company-philosophy__main-img" src="./assets/Rectangle-pc.png" alt="photo interiera"
                         width="316" height="393">

                </picture>

            </div>

            <div class="company-philosophy__quote">We can also help you create harmony out of seemingly completely
                incompatible elements in the interior or the exterior design.
            </div>

        </div>

    </div>

</section>