<section class="first-screen">

    <div class="first-screen__container">

        <div class="background-slider">

            <div class="main-swiper">

                <div class=" main-swiper__wrapper swiper-wrapper">

                    <div class="main-swiper__slide swiper-slide">

                        <picture>

                            <img src="./assets/Rectangle.png" alt="Image" width="1227" height="744">

                        </picture>

                    </div>

                    <div class="main-swiper__slide swiper-slide">

                        <picture>

                            <img src="./assets/Rectangle2.png" alt="Image" width="1227" height="744">

                        </picture>

                    </div>

                    <div class="main-swiper__slide swiper-slide">

                        <picture>

                            <img src="./assets/Rectangle.png" alt="Image" width="1227" height="744">

                        </picture>

                    </div>

                </div>

                <div class="main-swiper__nav-block right-element">

                    <div class="main-swiper__scrollbar-container">

                        <div class="main-swiper__button-prev">

                            <svg width="6" height="10" viewBox="0 0 6 10" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M5 9L1 5L5 1" stroke="white" stroke-width="0.75"/>
                            </svg>

                        </div>

                        <span class="main-swiper__current-slide">1</span>

                        <div class="swiper-scrollbar main-swiper__scrollbar">

                            <div class="main-swiper__custom-scrollbar"></div>

                        </div>

                        <span class="main-swiper__total-slides">2</span>

                        <div class="main-swiper__button-next">
                            <svg width="6" height="10" viewBox="0 0 6 10" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 1L5 5L1 9" stroke="white" stroke-width="0.75"/>
                            </svg>
                        </div>

                    </div>


                </div>

            </div>

        </div>

        <div class="first-screen__trasnsperent-text right-element">
            <span>Next Project</span>
            Perfect
            proportions
        </div>

        <div class="first-screen__footer">

            <ul class="first-screen__location">

                <li class="first-screen__item">

                    <a href="#">Fb</a>

                </li>
                <li class="first-screen__item">

                    <a href="#">In</a>

                </li>
                <li class="first-screen__item">

                    <a href="#">Be</a>

                </li>

            </ul>

            <div class="first-screen__select ">

                @@include('../partials/base/select.html')

            </div>

            <a class="first-screen__contact-phone" href="tel:380935705222">+380983527547</a>

            <a class="first-screen__email" href="mailto:info@hi-light.pl">E: info@gmail.com</a>

        </div>

        <div class="first-screen__content">

            <div class="first-screen__title-wrapper">

                <div class="first-screen__title">Thoughtful <br>
                    making of space
                </div>

                <div class="first-screen__sub-title">Discover more</div>

            </div>

        </div>

    </div>

</section>