<section class="posters-section">

    <div class="posters-section__container">

        <div class="posters-section__name-section">Projects</div>

        <div class="posters-section__text">

            <div class="posters-section__title">Our Projects</div>

            <div class="posters-section__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aliquam ullamcorper eu mauris vitae posuere. Ut at luctus ligula. Nunc ante felis, aliquam eu enim
                sed, ornare pretium velit.
            </div>

        </div>

        <div class="posters-section__posters-wrapper posters-section__posters-wrapper_short-gap">

            <div class="posters-section__background-text">We have more 56 project</div>

            <div class="posters-section__item double-poster">

                <a class="double-poster__poster-wrapper" href="#">

                    <img class="double-poster__item" src="./assets/posterhalf2-pc.png"
                         alt="photo apartment interior" width="653" height="653">

                    <div class="double-poster__description">Eyewear store interior</div>

                    <div class="double-poster__link">Discover more</div>

                    <ul class="double-poster__data">

                        <li class="double-poster__data-item">Lodz</li>

                        <li class="double-poster__data-item">16.10.2018</li>

                        <li class="double-poster__data-item">80 sq.m</li>

                    </ul>

                </a>

                <a class="double-poster__poster-wrapper" href="#">

                    <img class="double-poster__item" src="./assets/posterhalf1-pc.png"
                         alt="photo apartment interior" width="653" height="653">

                    <div class="double-poster__description">Eyewear store interior</div>

                    <div class="double-poster__link">Discover more</div>

                    <ul class="double-poster__data">

                        <li class="double-poster__data-item">Lodz</li>

                        <li class="double-poster__data-item">16.10.2018</li>

                        <li class="double-poster__data-item">80 sq.m</li>

                    </ul>

                </a>

            </div>

            <a class="posters-section__item full-poster" href="#">

                <picture>

                    <source media="(max-width: 768px)" srcset="./assets/posterfull21-mobile.png" width="672"
                            height="672">

                    <img class="full-poster__item" src="./assets/posterfull1-pc.png" alt="photo apartment interior"
                         width="1314" height="653">

                </picture>

                <div class="full-poster__description">Residence by the <br> lighthouse</div>

                <div class="full-poster__link">Discover more</div>

                <ul class="full-poster__data">

                    <li class="full-poster__data-item">Lodz</li>

                    <li class="full-poster__data-item">16.10.2018</li>

                    <li class="full-poster__data-item">80 sq.m</li>

                </ul>

            </a>

            <div class="posters-section__item double-poster">

                <div class="double-poster__poster-wrapper">

                    <img class="double-poster__item" src="./assets/posterhalf3-pc.png"
                         alt="photo apartment interior" width="653" height="653">

                    <div class="double-poster__description">Eyewear store interior</div>

                    <div class="double-poster__link">Discover more</div>

                    <ul class="double-poster__data">

                        <li class="double-poster__data-item">Lodz</li>

                        <li class="double-poster__data-item">16.10.2018</li>

                        <li class="double-poster__data-item">80 sq.m</li>

                    </ul>

                </div>

                <a class="double-poster__poster-wrapper  double-poster__poster-wrapper_white-bc double-poster__poster-wrapper_white-bc-home"
                   href="#">

                    <div class="double-poster__title-card">See more 60 projects</div>

                    <div class="double-poster__microposter-wrapper">

                        <img class="double-poster__microposter" src="./assets/postermicro1.png"
                             alt="photo apartment interior" width="243" height="323">

                    </div>

                </a>

            </div>

        </div>

    </div>

    <section class="photos-collage">

        <div class="photos-collage__container">

            <div class="photos-collage__name-section">Make request</div>

            <div class="photos-collage__background">

                <img class="photos-collage__photo-item" src="./assets/collage5.png"
                     width="211" height="273"
                     alt="photo interiera">

                <img class="photos-collage__photo-item" src="./assets/collage4.png"
                     width="211" height="273"
                     alt="photo interiera">

                <img class="photos-collage__photo-item" src="./assets/collage3.png"
                     width="211" height="273"
                     alt="photo interiera">

                <img class="photos-collage__photo-item" src="./assets/collage2.png"
                     width="211" height="273"
                     alt="photo interiera">

                <img class="photos-collage__photo-item" src="./assets/collage6.png"
                     width="211" height="273"
                     alt="photo interiera">

                <img class="photos-collage__photo-item" src="./assets/collage5.png"
                     width="211" height="273"
                     alt="photo interiera">

                <img class="photos-collage__photo-item" src="./assets/collage4.png"
                     width="211" height="273"
                     alt="photo interiera">

                <img class="photos-collage__photo-item" src="./assets/collage3.png"
                     width="211" height="273"
                     alt="photo interiera">

                <img class="photos-collage__photo-item" src="./assets/collage2.png"
                     width="211" height="273"
                     alt="photo interiera">

                <img class="photos-collage__photo-item" src="./assets/collage1.png"
                     width="211" height="273"
                     alt="photo interiera">

            </div>

            <div class="photos-collage__content">

                <div class="photos-collage__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>

                <div class="photos-collage__description">

                    <div class="photos-collage__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Aliquam ullamcorper eu mauris vitae posuere. Ut at luctus ligula. Nunc ante felis, aliquam
                        eu enim sed, ornare pretium velit.
                    </div>

                    <button class="photos-collage__button openPopup">Make request</button>

                </div>

            </div>

        </div>

    </section>

</section>